<%= form_with(model: bass_study) do |form| %>
  <% if bass_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bass_study.errors.count, "error") %> prohibited this bass_study from being saved:</h2>

      <ul>
        <% bass_study.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
