$eggplant: rgb(42,27,60);
$transeggplant: rgba(42,27,60, .22);
$white: rgb(255, 255, 255);
$offwhite: rgb(245, 245, 245);
$lightgray: rgb(200, 200, 200);
$black:  rgb(0, 0, 0);
$fuschia: rgb(217,63,135);
$transfuschia: rgba(217,63,135, .2);
$salmon: rgb(217, 0, 80);
$transwhite: rgb(255, 255, 255);
$purple: rgb(68,49,141);
$verdigris: rgb(164,179,182);
$lavender: rgb(130,101,167);
$charcoal: rgb(17, 17, 17);
$carbon: rgb(34, 34, 34);
$darkgray: rgb(51, 51, 51);
$gray: rgb(151, 151, 151);
$green: rgb(0, 255, 100);
$red: rgb(255, 30, 0);
$orange: rgb(255, 100, 0);
